/.env.example
/.venv
/Rodney-Chatman-Resume.docx
/agent-mega-stack.zip
/agentStack.zip
/agent_api.txt
/apply.sh
/curl-tests-for-agents.txt
/curl-tests-for-files.txt
/curl-tests-for-tools.txt
/howTo
/postman
/test_rag_doc.txt
.DS_Store
backend/app/api/*.pyc
backend/storage
backend/.rag/*
backend/.rag_store/*
backend/app/__pycache__/main.cpython-311.pyc
